fund=false
audit=false
init-author-email=braunico@gmail.com
init-author-name=Nicolas Braun
# init-author-url=https://braun.com/
init-license=MIT
init-version=1.0.0
sign-git-commit=true
sign-git-tag=true